default:
  # List of environment variables applied to all components
  env:
    - name: OTEL_SERVICE_NAME
      valueFrom:
        fieldRef:
          apiVersion: v1
          fieldPath: "metadata.labels['app.kubernetes.io/component']"
    - name: OTEL_POD_NAME
      valueFrom:
        fieldRef:
          fieldPath: metadata.name
    - name: OTEL_K8S_CONTAINER_NAME
      valueFrom:
        fieldRef:
          apiVersion: v1
          fieldPath: "metadata.labels['app.kubernetes.io/component']"
    - name: OTEL_NAMESPACE_NAME
      valueFrom:
        fieldRef:
          fieldPath: metadata.namespace
    - name: OTEL_CLUSTER_NAME
      value: opentelemetry-demo
    - name: OTEL_COLLECTOR_NAME
      value: otel-collector
    - name: OTEL_EXPORTER_OTLP_METRICS_TEMPORALITY_PREFERENCE
      value: delta
    - name: OTEL_RESOURCE_ATTRIBUTES
      value: >-
        service.name=$(OTEL_SERVICE_NAME),
        service.namespace=opentelemetry-demo,
        service.version={{ .Chart.AppVersion }},
        service.instance.id=$(OTEL_POD_NAME),
        k8s.container.name=$(OTEL_K8S_CONTAINER_NAME),
        k8s.pod.name=$(OTEL_POD_NAME),
        k8s.namespace.name=$(OTEL_NAMESPACE_NAME),
        k8s.cluster.name=$(OTEL_CLUSTER_NAME)

components:
  accounting:
    resources:
      limits:
        memory: 300Mi
      requests:
        memory: 200Mi

  frontend:
      command: 
        - "/nodejs/bin/node"
        - "--require=./Instrumentation.js"
        - "--require=./monkey-patch.js"
        - "server.js"

      mountedConfigMaps:
        - name: frontend-patch-volume
          mountPath: /app/monkey-patch.js
          subPath: monkey-patch.js
          data:
            monkey-patch.js: |
              const snippet = `
              <script type="text/javascript">!function(){if(navigator.sendBeacon){const n=navigator.sendBeacon,a="/v1/traces";navigator.sendBeacon=function(t,e){return!(!t||"string"!=typeof t||!t.includes(a))||n.apply(this,arguments)}}}();</script>
              <script type="text/javascript">window.NREUM||(NREUM={});NREUM.init={session_replay:{enabled:true,block_selector:'',mask_text_selector:'*',sampling_rate:10.0,error_sampling_rate:100.0,mask_all_inputs:true,collect_fonts:true,inline_images:false,inline_stylesheet:true,fix_stylesheets:true,preload:false,mask_input_options:{}},distributed_tracing:{enabled:true,exclude_newrelic_header:true,cors_use_newrelic_header:false,cors_use_tracecontext_headers:true},performance:{capture_measures:true},browser_consent_mode:{enabled:false},privacy:{cookies_enabled:true},ajax:{deny_list:["bam.nr-data.net", ]}};NREUM.loader_config={accountID:"$ACCOUNT_ID",trustKey:"$TRUST_KEY",agentID:"$AGENT_ID",licenseKey:"$LICENSE_KEY",applicationID:"$APPLICATION_ID"};NREUM.info={beacon:"bam.nr-data.net",errorBeacon:"bam.nr-data.net",licenseKey:"$LICENSE_KEY",applicationID:"$APPLICATION_ID",sa:1};</script>
              <script src="https://js-agent.nr-assets.net/nr-loader-spa-current.min.js"></script>
              <script type="text/javascript">!function(){const t=t=>t.startsWith("/cart/checkout/")&&t.length>15?"/cart/checkout/[orderId]":t.startsWith("/product/")&&t.length>9?"/product/[productId]":void 0,e=()=>{setTimeout((()=>{if(window.newrelic&&"function"==typeof window.newrelic.interaction){const e=t(window.location.pathname);newrelic.interaction().setName(e).save(),newrelic.setCurrentRouteName(e)}}),150)},n=history.pushState;history.pushState=function(){n.apply(this,arguments),e()};const i=history.replaceState;history.replaceState=function(){i.apply(this,arguments),e()},window.addEventListener("popstate",e),window.addEventListener("load",(()=>{if(window.newrelic){const e=t(window.location.pathname);newrelic.setPageViewName(e)}}))}();</script>`;
              
              const http = require('http');
              const origCreate = http.createServer;
              http.createServer = (handler) => origCreate.call(http, (req, res) => {
                delete req.headers['accept-encoding'];
                const origHead = res.writeHead;
                res.writeHead = (...args) => {
                  res.removeHeader('content-length');
                  res.removeHeader('etag');
                  return origHead.apply(res, args);
                };
                const origWrite = res.write;
                res.write = (chunk, ...args) => {
                  const cType = res.getHeader('content-type');
                  if (cType && cType.includes('text/html') && chunk) {
                    const s = chunk.toString();
                    if (s.includes('<head>')) {
                      chunk = Buffer.from(s.replace('<head>', '<head>' + snippet));
                      res.write = origWrite;
                    }
                  }
                  return origWrite.call(res, chunk, ...args);
                };
                const origEnd = res.end;
                res.end = (chunk, ...args) => {
                  if (chunk) res.write(chunk);
                  return origEnd.call(res, undefined, ...args);
                };
                if (handler) handler(req, res);
              });

# Disable non-NR components
opensearch:
  enabled: false
grafana:
  enabled: false
prometheus:
  enabled: false
jaeger:
  enabled: false

opentelemetry-collector:
  enabled: true
  extraEnvs:
    - name: INTERNAL_TELEMETRY_SERVICE_NAME
      value: astroshop-otel-collector
    - name: KUBE_NODE_NAME
      valueFrom:
        fieldRef:
          fieldPath: spec.nodeName
    - name: NR_LICENSE_KEY
      valueFrom:
        secretKeyRef:
          name: newrelic-license-key
          key: license-key
    - name: OTEL_CLUSTER_NAME
      value: opentelemetry-demo
  image:
    repository: "otel/opentelemetry-collector-contrib"
  fullnameOverride: otel-collector
  mode: deployment
  presets:
    hostMetrics:
      enabled: true
  resources:
    limits:
      memory: 200Mi
  service:
    type: ClusterIP
  ports:
    healthcheck:
      enabled: true
      containerPort: 13133
      servicePort: 13133
      hostPort: 13133
      protocol: TCP
    jaeger-compact:
      enabled: false
    jaeger-thrift:
      enabled: false
    jaeger-grpc:
      enabled: false
    zipkin:
      enabled: false
    metrics:
      enabled: true
  podAnnotations:
    prometheus.io/scrape: "true"
    opentelemetry_community_demo: "true"
  alternateConfig:
    exporters:
      debug: {}
      otlphttp/newrelic:
        endpoint: https://otlp.nr-data.net:4318
        headers:
          api-key: ${env:NR_LICENSE_KEY}

    extensions:
      health_check:
        endpoint: 0.0.0.0:13133

    processors:
      batch: {}
      cumulativetodelta: {}
      k8sattributes:
        extract:
          metadata:
          - k8s.namespace.name
          - k8s.deployment.name
          - k8s.statefulset.name
          - k8s.daemonset.name
          - k8s.cronjob.name
          - k8s.job.name
          - k8s.node.name
          - k8s.pod.name
          - k8s.pod.uid
          - k8s.pod.start_time
        passthrough: false
        pod_association:
        - sources:
          - from: resource_attribute
            name: k8s.pod.ip
        - sources:
          - from: resource_attribute
            name: k8s.pod.uid
        - sources:
          - from: connection
      memory_limiter:
        check_interval: 5s
        limit_percentage: 80
        spike_limit_percentage: 25
      resource:
        attributes:
        - action: insert
          from_attribute: k8s.pod.name
          key: service.instance.id
      resourcedetection/env:
        detectors:
        - env
        - system
        override: false
        system:
          hostname_sources:
          - os
          resource_attributes:
            host.id:
              enabled: true
      transform:
        error_mode: ignore
        log_statements:
        - context: log
          statements:
          - truncate_all(attributes, 4095)
          - truncate_all(resource.attributes, 4095)
        trace_statements:
        - context: span
          statements:
          - truncate_all(attributes, 4095)
          - truncate_all(resource.attributes, 4095)
        - context: span
          statements:
          - replace_pattern(name, "\\?.*", "")
          - replace_match(name, "GET /api/products/*", "GET /api/products/{productId}")

    receivers:
      hostmetrics:
        collection_interval: 10s
        root_path: /hostfs
        scrapers:
          cpu: null
          disk: null
          filesystem:
            exclude_fs_types:
              fs_types:
              - autofs
              - binfmt_misc
              - bpf
              - cgroup2
              - configfs
              - debugfs
              - devpts
              - devtmpfs
              - fusectl
              - hugetlbfs
              - iso9660
              - mqueue
              - nsfs
              - overlay
              - proc
              - procfs
              - pstore
              - rpc_pipefs
              - securityfs
              - selinuxfs
              - squashfs
              - sysfs
              - tracefs
              match_type: strict
            exclude_mount_points:
              match_type: regexp
              mount_points:
              - /dev/*
              - /proc/*
              - /sys/*
              - /run/k3s/containerd/*
              - /var/lib/docker/*
              - /var/lib/kubelet/*
              - /snap/*
          load: null
          memory: null
          network: null
      httpcheck/frontend-proxy:
        targets:
        - endpoint: http://frontend-proxy:8080
      otlp:
        protocols:
          grpc:
            endpoint: ${env:MY_POD_IP}:4317
          http:
            cors:
              allowed_origins:
              - http://*
              - https://*
            endpoint: ${env:MY_POD_IP}:4318
      prometheus:
        config:
          scrape_configs:
          - job_name: opentelemetry-collector
            scrape_interval: 30s
            static_configs:
            - targets:
              - ${env:MY_POD_IP}:8888
      redis:
        collection_interval: 30s
        endpoint: valkey-cart:6379

    service:
      extensions:
      - health_check
      pipelines:
        logs:
          exporters:
          - otlphttp/newrelic
          - debug
          processors:
          - k8sattributes
          - memory_limiter
          - resource
          - transform
          - batch
          receivers:
          - otlp
        metrics:
          exporters:
          - otlphttp/newrelic
          - debug
          processors:
          - memory_limiter
          - resource
          - resourcedetection/env
          - k8sattributes
          - cumulativetodelta
          - batch
          receivers:
          - hostmetrics
          - redis
          - otlp
        traces:
          exporters:
          - otlphttp/newrelic
          - debug
          processors:
          - k8sattributes
          - memory_limiter
          - resource
          - resourcedetection/env
          - transform
          - batch
          receivers:
          - otlp
      telemetry:
        metrics:
          # address: ${env:MY_POD_IP}:8888
          level: basic
          readers:
          - periodic:
              exporter:
                otlp:
                  endpoint: http://${env:MY_POD_IP}:4318
                  protocol: http/protobuf
              interval: 30000
              timeout: 5000