default:
  # List of environment variables applied to all components
  env:
    - name: OTEL_SERVICE_NAME
      valueFrom:
        fieldRef:
          apiVersion: v1
          fieldPath: "metadata.labels['app.kubernetes.io/component']"
    - name: OTEL_POD_NAME
      valueFrom:
        fieldRef:
          fieldPath: metadata.name
    - name: OTEL_POD_UID
      valueFrom:
        fieldRef:
          fieldPath: metadata.uid
    - name: OTEL_K8S_CONTAINER_NAME
      valueFrom:
        fieldRef:
          apiVersion: v1
          fieldPath: "metadata.labels['app.kubernetes.io/component']"
    - name: OTEL_NAMESPACE_NAME
      valueFrom:
        fieldRef:
          fieldPath: metadata.namespace
    - name: OTEL_CLUSTER_NAME
      value: opentelemetry-demo
    - name: OTEL_COLLECTOR_NAME
      value: nr-k8s-otel-collector-gateway
    - name: OTEL_EXPORTER_OTLP_METRICS_TEMPORALITY_PREFERENCE
      value: delta
    - name: OTEL_RESOURCE_ATTRIBUTES
      value: >-
        service.name=$(OTEL_SERVICE_NAME),
        service.namespace=opentelemetry-demo,
        service.version={{ .Chart.AppVersion }},
        service.instance.id=$(OTEL_POD_NAME),
        k8s.container.name=$(OTEL_K8S_CONTAINER_NAME),
        k8s.pod.name=$(OTEL_POD_NAME),
        k8s.pod.uid=$(OTEL_POD_UID),
        k8s.namespace.name=$(OTEL_NAMESPACE_NAME),
        k8s.cluster.name=$(OTEL_CLUSTER_NAME)

components:
  accounting:
    resources:
      limits:
        memory: 300Mi
      requests:
        memory: 200Mi
  checkout:
    resources:
      limits:
        memory: 100Mi
      requests:
        memory: 50Mi
  product-catalog:
    resources:
      limits:
        memory: 100Mi
      requests:
        memory: 50Mi
    env:
      - name: PRODUCT_CATALOG_PORT
        value: "8080"
      - name: FLAGD_HOST
        value: flagd
      - name: FLAGD_PORT
        value: "8013"
      - name: GOMEMLIMIT
        value: 80MiB
      - name: DB_CONNECTION_STRING
        value: postgres://otelu:otelp@postgresql/otel?sslmode=disable
      - name: OTEL_SEMCONV_STABILITY_OPT_IN
        value: database
      - name: OTEL_EXPORTER_OTLP_ENDPOINT
        value: http://$(OTEL_COLLECTOR_NAME):4317

# Disable non-NR components
opensearch:
  enabled: false
grafana:
  enabled: false
prometheus:
  enabled: false
jaeger:
  enabled: false
opentelemetry-collector:
  enabled: false